html, body {
	width: 100%;
	height: 100%;
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, serif;
}
input {
	font-weight: bold;
	height: 50px;
	width: 100%;
	text-align: center;
}
input:focus {
	outline: 0;
}
ul {
	list-style-type: none;
}

#mapDiv {
	width: 100%;
	height: 100%;
}
#legend {
	background-color: #ddd;
	padding: 1%;
	width: 140px;
	position: fixed;
	left: 15px;
	bottom: 40px;
	z-index: 1001;
	box-shadow: 3px 3px 2px #555;
	font-family: sans-serif;
}
#location-search {
	box-shadow: 3px 3px 2px #555;
	position: fixed;
	left: 30%;
	top: 0;
	width: 170px;
	margin-left: -85px;
	z-index: 1100;
}

#cityInput::-webkit-input-placeholder {
    font-family: 'Rockwell Extra Bold', Rockwell, serif;
    font-size: 16px;
}

#cityInput:-ms-input-placeholder {
    font-family: 'Rockwell Extra Bold', Rockwell, serif;
    font-size: 16px;
}

#cityInput:-moz-placeholder {
    font-family: 'Rockwell Extra Bold', Rockwell, serif;
    font-size: 16px;
}

#cityInput::-moz-placeholder {
    font-family: 'Rockwell Extra Bold', Rockwell, serif;
    font-size: 16px;
}

#result-search {
	border: 3px solid #2D8C12;
	display: flex;
}
#result-list {
	height: 600px;
	overflow: auto;
}
#info-window {
	background-color: #fff;
	width: 100%;
	max-height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
}
#info-toggle {
	width: 40px;
	background-color: #2D8C12;
	color: #fff;
	font-size: 30px;
	outline: 0;
	font-weight: 1000;
	flex-shrink: 0	;
}


@media (min-width: 401px) {
	#info-window {
		background-color: #fff;
		width: 350px;
		max-height: 100%;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1000;
	}
	.venue {
		padding: 5px;
		border-bottom: 1px solid #DDDDDD;
		height: auto;
	}
	.venueLeft {
		display: inline-block;
		width: 210px;
	}
	.venueRight {
		display: inline-block;
		float: right;
		width: 100px;
	}
	#legend {
	display: block;
}
}